@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px; 
}

